.Cc {
    border: 1px solid red;
}

body {
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
    background-color: #fff;
}

.section-icon-status {
    color: green;
}

.section-content a {
    color: inherit;
}

.section-content .box-title {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.section-content .box-title h4 {
    font-weight: bold;
    font-size: 18px;
    padding-right: 5px;
    margin-bottom: 0;
}

.section-content .box-data {
    color: #827c7c;
    font-size: 13px;
}

.section-content {
    padding-left: 8px;
    padding-right: 8px;
    -ms-flex: 0 0 85%;
    flex: 0 0 85%;
    max-width: 85%;
}

.section-notification {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.section-notification a{
    color: #586069;
}

.section-notification a:hover{
    color: #0366d6;
    text-decoration: unset;
}
.section-notification a:hover{
    color: #0366d6;
    fill: #0366d6;
    text-decoration: unset;
}

.btn.custom {
    padding: 0;
    height: 20px;
}
