.Cc {
    border: 1px solid red;
}

body {
    font-family: sans-serif;
}



.todo-list-wrapper .todo-list-item:hover {
    background-color: #f5f9f9;
}

.todo-list-wrapper .todo-list-item {
    display: flex;
    padding: 10px 15px;
    border-bottom: 1px solid #e3e2e4;
}

.todo-list-wrapper .todo-list-item:last-child {
    border-bottom: unset;
}

.section-icon-status {
    color: green;
}


.section-content a {
    color: inherit;
}

.section-content a:hover {
    text-decoration: unset;
}

.section-content .box-title {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.section-content .box-title h4 {
    font-weight: bold;
    font-size: 18px;
    padding-right: 5px;
    margin-bottom: 0;
}

.section-content .box-data {
    color: #827c7c;
    font-size: 13px;
}

.section-content {
    padding-left: 10px;
    padding-right: 10px;
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%;
}

.section-notification {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}


.btn.custom {
    padding: 0;
    height: 20px;
}
